In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
import numpy as np

In [2]:
xls = pd.ExcelFile('Resources/Car_Data.xlsx')
df1 = pd.read_excel(xls, 'Volkswagon')
df2 = pd.read_excel(xls, 'Toyota')
df3 = pd.read_excel(xls, 'Porsche')
df4 = pd.read_excel(xls, 'Mercedes')
df5 = pd.read_excel(xls, 'Maserati')
df6 = pd.read_excel(xls, 'Lincoln')
df7 = pd.read_excel(xls, 'Lexus')
# df8 = pd.read_excel(xls, 'Kia')
# df9 = pd.read_excel(xls, 'Landrover')
# df10 = pd.read_excel(xls, 'Volkswagon')
# df11 = pd.read_excel(xls, 'Honda')
# df12 = pd.read_excel(xls, 'Hyundai')
# df13 = pd.read_excel(xls, 'Acura')
# df14 = pd.read_excel(xls, 'Audi')
# df15 = pd.read_excel(xls, 'BMW')

In [3]:
# df_list = [df1, df2, df3, df4, df5, df6, df7]

In [4]:
def clean_data(df):
    new_df = df.dropna(how='any')
    new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
    cc_df = new_df.drop(columns=['sold_date'])
    cc_df['condition_grade'] = cc_df['condition_grade'].replace(
    {'SL': 0, 'RG': 20, 'PR': 10, 'EC':50, 'CL':40, 'C': 40, 'AV':30, 'A': 30})
    # convert to categorical using pd.get_dummies
    cc_df['sold_date_year'] = cc_df['formatted_sold_date'].dt.year
    cc_df['sold_date_month'] = cc_df['formatted_sold_date'].dt.month
    drop_df = cc_df.drop(columns=['formatted_sold_date', 'subseries'])

    # df_dummies = pd.get_dummies(drop_df, columns=['sold_date_year', 'sold_date_month'])

    return drop_df

In [5]:
clean_df1 = clean_data(df1)
clean_df2 = clean_data(df2)
clean_df3 = clean_data(df3)
clean_df4 = clean_data(df4)
clean_df5 = clean_data(df5)
clean_df6 = clean_data(df6)
clean_df7 = clean_data(df7)
# for df in df_list:
#     clean_data(df)

<ipython-input-4-12064be35d8b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
<ipython-input-4-12064be35d8b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
<ipython-input-4-12064be35d8b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
<ipython-input-4-12064be35d8b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
<ipython-input-4-12064be35d8b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
<ipython-input-4-12064be35d8b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
<ipython-input-4-12064be35d8b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')

In [6]:
# clean_df1['sold_date_year'] = clean_df1['formatted_sold_date'].dt.year
# clean_df1['sold_date_month'] = clean_df1['formatted_sold_date'].dt.month
# clean_df1['sold_date_week'] = clean_df1['formatted_sold_date'].dt.isocalendar().week
# clean_df1['sold_date_day'] = clean_df1['formatted_sold_date'].dt.day

In [7]:
clean_df1['model'].nunique()

80

In [8]:
print(f"Duplicate entries 1: {clean_df1.duplicated().sum()}")
print(f"Duplicate entries 2: {clean_df2.duplicated().sum()}")
print(f"Duplicate entries 3: {clean_df3.duplicated().sum()}")
print(f"Duplicate entries 4: {clean_df4.duplicated().sum()}")
print(f"Duplicate entries 5: {clean_df5.duplicated().sum()}")
print(f"Duplicate entries 6: {clean_df6.duplicated().sum()}")
print(f"Duplicate entries 7: {clean_df7.duplicated().sum()}")

Duplicate entries 1: 3
Duplicate entries 2: 0
Duplicate entries 3: 1
Duplicate entries 4: 0
Duplicate entries 5: 0
Duplicate entries 6: 1
Duplicate entries 7: 0

In [9]:
no_dups_df6 = clean_df6.drop_duplicates()
print(f"Duplicate entries 6: {no_dups_df6.duplicated().sum()}")

Duplicate entries 6: 0

In [10]:
clean_df7['condition_grade'].value_counts()

37    764
42    724
41    685
43    684
44    663
46    663
45    656
36    649
39    592
40    577
38    575
35    573
28    409
34    397
29    357
50    340
27    310
33    282
26    279
48    245
32    245
25    242
31    240
47    227
24    223
30    213
49    183
21    150
23    148
20    133
22    113
19     94
17     76
13     74
18     68
16     50
10     45
15     36
14     29
0       7
12      1
11      1
Name: condition_grade, dtype: int64

In [11]:
clean_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61251 entries, 1 to 79613
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   auction_code     61251 non-null  object
 1   car_year         61251 non-null  int64
 2   color            61251 non-null  object
 3   make             61251 non-null  object
 4   model            61251 non-null  object
 5   body             61251 non-null  object
 6   engine           61251 non-null  object
 7   transmission     61251 non-null  object
 8   mileage          61251 non-null  float64
 9   condition_grade  61251 non-null  int64
 10  times_run        61251 non-null  float64
 11  seller           61251 non-null  float64
 12  sale_price       61251 non-null  float64
 13  sold_date_year   61251 non-null  int64
 14  sold_date_month  61251 non-null  int64
dtypes: float64(4), int64(4), object(7)
memory usage: 7.5+ MB

In [12]:
# Generate our categorical variable lists
car_cat = clean_df1.dtypes[clean_df1.dtypes == "object"].index.tolist()
# Check the number of unique values in each column
clean_df1[car_cat].nunique()

auction_code     83
color           149
make              1
model            80
body             14
engine           21
transmission      7
dtype: int64

In [13]:
color_cnt = clean_df1[car_cat]["color"].value_counts()

In [14]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
color_types_to_replace = list(color_cnt[color_cnt < 8].index)

# Replace in dataframe
for color in color_types_to_replace:
    clean_df1['color'] = clean_df1['color'].replace(color,"Other")

# Check to make sure binning was successful
clean_df1['color'].value_counts()

BLACK       15488
WHITE       11948
GRAY         9333
SILVER       8878
BLUE         6620
RED          3620
GREY         1657
BROWN        1024
TAN           642
GOLD          541
MAROON        465
GREEN         331
YELLOW        259
Other         169
ORANGE         47
PURPLE         35
BLACK EX       28
OFFWHITE       27
COPPER         26
PLATINUM       22
CANDY WH       20
TEAL           16
PURE WHI       15
REFLEX S       13
BEIGE          11
DEEP BLA        8
BLACK UN        8
Name: color, dtype: int64

In [15]:
print(clean_df1['color'].unique())

['BLACK' 'SILVER' 'TAN' 'WHITE' 'RED' 'BLUE' 'GRAY' 'BROWN' 'GOLD' 'GREY'
 'BEIGE' 'YELLOW' 'MAROON' 'GREEN' 'Other' 'BLACK UN' 'REFLEX S'
 'CANDY WH' 'COPPER' 'TEAL' 'BLACK EX' 'PURPLE' 'DEEP BLA' 'PURE WHI'
 'ORANGE' 'PLATINUM' 'OFFWHITE']

In [16]:
clean_df1['color'] = clean_df1['color'].replace({
    'GREY': 'GRAY', 'WHITEW': 'WHITE', 'CANDY WH': 'WHITE', 'BLACK EX': 'BLACK', 'DEEP BLA': 'BLACK', 'NIGHT BL': 'BLACK', 'LT BLUE': 'BLUE', 'BLUEK': 'BLUE', 'NOIR': 'BLACK', 'TWILIGHT': 'BLACK', 'CHAMPGNE': 'CHAMPAGN', 'DKBLUE': 'BLUE', 'RREY': 'GRAY', 'CREAM': 'WHITE', 'SLIVER': 'SILVER', 'WHITEGOL':'WHITE', 'TITANIUM': 'SILVER', 'BLACK  5': 'BLACK', '8LACK': 'BLACK', ' WHT GOLD': 'WHITE', 'OFFWHITE': 'WHITE', 'DK BLUE': 'BLUE', '8LUE': 'BLUE', '3HITE': 'WHITE', '0RAY': 'GRAY', '1HITE': 'WHITE', 'TOFFEE B': 'BROWN', '5LACK': 'BLACK', 'DRK BLUE': 'BLUE', 'PURE WHI': 'WHITE', 'BLACK UN': 'BLACK', 'BEIGE': 'TAN', 'COPPER': 'GOLD', 'PLATINUM': 'SILVER', 'REFLEX S': 'SILVER', 'TEAL': 'GREEN'
})

In [17]:
def binning_function(col, cut_points, labels=None):
    minvalue = col.min()
    maxvalue = col.max()
    break_points = [minvalue] + cut_points + [maxvalue]
    print(break_points)
    if not labels:
        labels = range(len(cut_points) + 1)
    col_bin = pd.cut(col, bins=break_points, labels=labels, include_lowest=True)
    return col_bin

In [18]:
cut_points = [25000, 50000, 75000, 100000]
labels = ['< 25k', '25k - 50k', '50k - 75k', '75k - 100k', '> 100k']
clean_df1['vehicle_mileage_category'] = binning_function(clean_df1['mileage'], cut_points, labels)
clean_df1

[0.0, 25000, 50000, 75000, 100000, 999999.0]

,auction_code,car_year,color,make,model,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,sold_date_year,sold_date_month,vehicle_mileage_category
1,AYCA,2009,BLACK,VOLKSWAGEN,TIGUAN AWD,SUV,4GT,A,96696.0,34,1.0,5177137.0,7100.0,2017,1,75k - 100k
2,AYCA,2009,SILVER,VOLKSWAGEN,ROUTAN,VAN,6G,A,92321.0,31,1.0,4925422.0,5800.0,2017,1,75k - 100k
3,AYCA,2014,TAN,VOLKSWAGEN,JETTA 4C,4DSN,4GT,A,70568.0,27,1.0,4925422.0,4500.0,2017,1,50k - 75k
6,NADE,2012,BLACK,VOLKSWAGEN,TIGUAN FWD,SUV,4GT,A,85124.0,38,6.0,5322633.0,8300.0,2017,1,75k - 100k
7,GOAA,2016,WHITE,VOLKSWAGEN,PASSAT 4C,4DSN,4GT,A,16947.0,46,2.0,4905415.0,13800.0,2017,1,< 25k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79609,MAA,2017,RED,VOLKSWAGEN,GOLF,4DHB,4GT,A,22279.0,28,1.0,4905414.0,13600.0,2019,6,< 25k
79610,MAA,2015,WHITE,VOLKSWAGEN,JETTA,4DSN,4GT,A,76514.0,21,1.0,4905415.0,3600.0,2019,6,75k - 100k
79611,MAA,2017,BLACK,VOLKSWAGEN,PASSAT 4C,4DSN,4GT,A,24620.0,28,1.0,4905414.0,14400.0,2019,6,< 25k
79612,MAA,2017,GRAY,VOLKSWAGEN,JETTA,4DSN,4GT,A,42364.0,23,1.0,4919311.0,9700.0,2019,6,25k - 50k
79613,SLAA,2011,BLUE,VOLKSWAGEN,JETTA 5C,4DSN,5G,A,125802.0,20,2.0,5034660.0,3600.0,2019,6,> 100k

In [19]:
clean_df1['sale_price'].max()
clean_df1['sale_price'].min()

100.0

In [20]:
df1_dummies = pd.get_dummies(clean_df1)
# df2_dummies = pd.get_dummies(clean_df2)
# df3_dummies = pd.get_dummies(clean_df3)
# df4_dummies = pd.get_dummies(clean_df4)
# df5_dummies = pd.get_dummies(clean_df5)
# df6_dummies = pd.get_dummies(no_dups_df6)
# df7_dummies = pd.get_dummies(clean_df7)

In [21]:
# Drop the label to create the X data
X_1 = df1_dummies.drop('sale_price', axis=1)
# X_2 = df2_dummies.drop('sale_price', axis=1)
# X_3 = df3_dummies.drop('sale_price', axis=1)
# X_4 = df4_dummies.drop('sale_price', axis=1)
# X_5 = df5_dummies.drop('sale_price', axis=1)
# X_6 = df6_dummies.drop('sale_price', axis=1)
# X_7 = df7_dummies.drop('sale_price', axis=1)

In [22]:
y_1 = df1_dummies["sale_price"]
# y_2 = df2_dummies["sale_price"]
# y_3 = df3_dummies["sale_price"]
# y_4 = df4_dummies["sale_price"]
# y_5 = df5_dummies["sale_price"]
# y_6 = df6_dummies["sale_price"]
# y_7 = df7_dummies["sale_price"]

In [23]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X_1, y_1, random_state=1)
# X_train2, X_test2, y_train2, y_test2 = train_test_split(X_2, y_2, random_state=1)
# X_train3, X_test3, y_train3, y_test3 = train_test_split(X_3, y_3, random_state=1)
# X_train4, X_test4, y_train4, y_test4 = train_test_split(X_4, y_4, random_state=1)
# X_train5, X_test5, y_train5, y_test5 = train_test_split(X_5, y_5, random_state=1)
# X_train6, X_test6, y_train6, y_test6 = train_test_split(X_6, y_6, random_state=1)
# X_train7, X_test7, y_train7, y_test7 = train_test_split(X_7, y_7, random_state=1)

In [24]:
# Scaling the X data by using StandardScaler()
scaler = StandardScaler().fit(X_train1)
X_train_scaled1 = scaler.transform(X_train1)
X_test_scaled1 = scaler.transform(X_test1)
X_train_scaled1
X_test_scaled1

array([[-0.0118261 , -0.66807612, -0.05064064, ..., -0.39366942,
        -0.36152184, -0.43964507],
       [ 1.18810175, -1.12559311,  0.79935425, ..., -0.39366942,
        -0.36152184, -0.43964507],
       [ 0.88811979,  0.6238971 , -2.38812658, ..., -0.39366942,
         2.76608462, -0.43964507],
       ...,
       [ 0.28815586,  0.54582106,  0.3743568 , ..., -0.39366942,
         2.76608462, -0.43964507],
       [-0.0118261 , -0.54801685,  1.22435169, ..., -0.39366942,
        -0.36152184, -0.43964507],
       [ 0.88811979, -0.64608382, -0.26313936, ..., -0.39366942,
        -0.36152184, -0.43964507]])

In [25]:
# Passing through lasso regression
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet

# Fit a LASSO regression to the data - train the model
# reg = Lasso().fit(X_train_scaled1, y_train1)
reg1 = Ridge().fit(X_train_scaled1, y_train1)

In [26]:
r2 = reg1.score(X_test_scaled1, y_test1)
print(r2)
from sklearn.metrics import mean_squared_error
y_predict = reg1.predict(X_test_scaled1)
print(y_predict)
mean_squared_error(y_test1, y_predict)

0.8558327212483117
[ 9931.47544165 13057.74160676  4059.67503376 ...  7109.47151058
  9832.3647695   9044.05056758]

3659706.280790022

In [39]:
import pickle


model = pickle.dumps(reg1)

reg_from_pickle = pickle.loads(model)

reg_from_pickle.predict(X_test_scaled1)

array([ 9931.47544165, 13057.74160676,  4059.67503376, ...,
        7109.47151058,  9832.3647695 ,  9044.05056758])