In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
import numpy as np
from statistics import mode
import jellyfish
from fuzzywuzzy import fuzz

In [2]:
xls = pd.ExcelFile('../Resources/Car_Data.xlsx')
df1 = pd.read_excel(xls, 'Volkswagon')
df2 = pd.read_excel(xls, 'Toyota')
df3 = pd.read_excel(xls, 'Porsche')
df4 = pd.read_excel(xls, 'Mercedes')
df5 = pd.read_excel(xls, 'Maserati')
df6 = pd.read_excel(xls, 'Lincoln')
df7 = pd.read_excel(xls, 'Lexus')
# df8 = pd.read_excel(xls, 'Kia')
# df9 = pd.read_excel(xls, 'Landrover')
# df10 = pd.read_excel(xls, 'Volkswagon')
# df11 = pd.read_excel(xls, 'Honda')
# df12 = pd.read_excel(xls, 'Hyundai')
# df13 = pd.read_excel(xls, 'Acura')
# df14 = pd.read_excel(xls, 'Audi')
# df15 = pd.read_excel(xls, 'BMW')

In [3]:
def clean_data(df):
    new_df = df.dropna(how='any')
    new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
    cc_df = new_df.drop(columns=['sold_date'])
    cc_df['condition_grade'] = cc_df['condition_grade'].replace(
    {'SL': 0, 'RG': 20, 'PR': 10, 'EC':50, 'CL':40, 'C': 40, 'AV':30, 'A': 30})
    # convert to categorical using pd.get_dummies
    cc_df['sold_date_year'] = cc_df['formatted_sold_date'].dt.year
    cc_df['sold_date_month'] = cc_df['formatted_sold_date'].dt.month
    drop_df = cc_df.drop(columns=['formatted_sold_date', 'subseries'])

    # df_dummies = pd.get_dummies(drop_df, columns=['sold_date_year', 'sold_date_month'])

    return drop_df

In [4]:
clean_df1 = clean_data(df1)
clean_df2 = clean_data(df2)
clean_df3 = clean_data(df3)
clean_df4 = clean_data(df4)
clean_df5 = clean_data(df5)
clean_df6 = clean_data(df6)
clean_df7 = clean_data(df7)
# for df in df_list:
#     clean_data(df)

/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_27988/1684530759.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_27988/1684530759.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_27988/1684530759.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_27988/1684530759.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_27988/1684530759.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_27988/1684530759.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')
/var/folders/_k/3dfk2s110yz7b_7m_4y_7c8h0000gn/T/ipykernel_27988/1684530759.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['formatted_sold_date'] = pd.to_datetime(new_df['sold_date'], format='%Y-%m-%d-%H.%M.%S.%f')

In [5]:
clean_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61251 entries, 1 to 79613
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   auction_code     61251 non-null  object
 1   car_year         61251 non-null  int64
 2   color            61251 non-null  object
 3   make             61251 non-null  object
 4   model            61251 non-null  object
 5   body             61251 non-null  object
 6   engine           61251 non-null  object
 7   transmission     61251 non-null  object
 8   mileage          61251 non-null  float64
 9   condition_grade  61251 non-null  int64
 10  times_run        61251 non-null  float64
 11  seller           61251 non-null  float64
 12  sale_price       61251 non-null  float64
 13  sold_date_year   61251 non-null  int64
 14  sold_date_month  61251 non-null  int64
dtypes: float64(4), int64(4), object(7)
memory usage: 7.5+ MB

In [6]:
clean_df1.shape

(61251, 15)

In [7]:
print(f"Duplicate entries 1: {clean_df1.duplicated().sum()}")
print(f"Duplicate entries 2: {clean_df2.duplicated().sum()}")
print(f"Duplicate entries 3: {clean_df3.duplicated().sum()}")
print(f"Duplicate entries 4: {clean_df4.duplicated().sum()}")
print(f"Duplicate entries 5: {clean_df5.duplicated().sum()}")
print(f"Duplicate entries 6: {clean_df6.duplicated().sum()}")
print(f"Duplicate entries 7: {clean_df7.duplicated().sum()}")

Duplicate entries 1: 3
Duplicate entries 2: 0
Duplicate entries 3: 1
Duplicate entries 4: 0
Duplicate entries 5: 0
Duplicate entries 6: 1
Duplicate entries 7: 0

In [8]:
no_dups_df6 = clean_df6.drop_duplicates()
no_dups_df1 = clean_df1.drop_duplicates()
no_dups_df3 = clean_df3.drop_duplicates()
print(f"Duplicate entries 6: {no_dups_df6.duplicated().sum()}")
print(f"Duplicate entries 1: {no_dups_df1.duplicated().sum()}")
print(f"Duplicate entries 3: {no_dups_df3.duplicated().sum()}")

Duplicate entries 6: 0
Duplicate entries 1: 0
Duplicate entries 3: 0

In [9]:
# Generate our categorical variable lists
car_cat = clean_df1.dtypes[clean_df1.dtypes == "object"].index.tolist()
# Check the number of unique values in each column
clean_df1[car_cat].nunique()

auction_code     83
color           149
make              1
model            80
body             14
engine           21
transmission      7
dtype: int64

In [10]:
model_cnt = clean_df1[car_cat]["model"].value_counts()
model_cnt.unique()

array([8689, 8202, 7862, 7507, 5155, 4810, 3314, 2125, 2083, 1356, 1273,
        861,  859,  730,  620,  556,  538,  471,  413,  379,  370,  329,
        282,  226,  206,  201,  191,  166,  164,  153,  131,  104,   95,
         89,   85,   83,   77,   66,   62,   49,   41,   36,   30,   25,
         24,   22,   16,   15,   10,    9,    8,    7,    6,    5,    4,
          3,    2,    1])

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
model_types_to_replace = list(model_cnt[model_cnt < 100].index)

# Replace in dataframe
for model in model_types_to_replace:
    clean_df1['model'] = clean_df1['model'].replace(model,"Other")

# Check to make sure binning was successful
clean_df1['model'].value_counts()

PASSAT 4C         8689
JETTA 4C          8202
JETTA             7862
PASSAT 5C         7507
CC FWD 4C         5155
JETTA 5C          4810
TIGUAN FWD        3314
TIGUAN AWD        2125
BEETLE            2083
PASSAT FWD 4C     1356
GOLF              1273
Other              925
ROUTAN             861
GOLF GTI           859
EOS                730
BEETLE 4C          620
BEETLE 5C          556
TOUAREG            538
TIGUAN 4X4         471
GOLF 4C            413
TOUAREG 4X4 V6     379
E-GOLF             370
PASSAT V6          329
GTI                282
PASSAT FWD V6      226
EOS 4C             206
ATLAS AWD V6       201
ATLAS FWD V6       191
RABBIT             166
PASSAT             164
GLI                153
PASSAT AWD V6      131
GOLF 5C            104
Name: model, dtype: int64

In [15]:

# for each unique value in Description
for d in clean_df1.model.unique():
    clean_df1['model'] = clean_df1['model'].apply(str)
    # compute Levensthein distance
    # and set to True if >= a 60
    # (you may have to play around with it)
    clean_df1[d] = clean_df1['model'].apply(
        lambda x : fuzz.ratio(x, d) >= 60
    )
#     # set a name for the group
#     # here, simply the shortest
    m = np.min(clean_df1[clean_df1[d]==True].model)
# #     # assign the group
#     clean_df1.loc[clean_df1.model==d, 'group'] = m

print(clean_df1)

      auction_code  car_year   color        make       model  body engine  \
1             AYCA      2009   BLACK  VOLKSWAGEN  TIGUAN AWD   SUV    4GT
2             AYCA      2009  SILVER  VOLKSWAGEN      ROUTAN   VAN     6G
3             AYCA      2014     TAN  VOLKSWAGEN    JETTA 4C  4DSN    4GT
6             NADE      2012   BLACK  VOLKSWAGEN  TIGUAN FWD   SUV    4GT
7             GOAA      2016   WHITE  VOLKSWAGEN   PASSAT 4C  4DSN    4GT
...            ...       ...     ...         ...         ...   ...    ...
79609          MAA      2017     RED  VOLKSWAGEN        GOLF  4DHB    4GT
79610          MAA      2015   WHITE  VOLKSWAGEN       JETTA  4DSN    4GT
79611          MAA      2017   BLACK  VOLKSWAGEN   PASSAT 4C  4DSN    4GT
79612          MAA      2017    GREY  VOLKSWAGEN       JETTA  4DSN    4GT
79613         SLAA      2011    BLUE  VOLKSWAGEN    JETTA 5C  4DSN     5G

      transmission   mileage  condition_grade  ...    EOS  TIGUAN 4X4  \
1                A   96696.0               34  ...  False        True
2                A   92321.0               31  ...  False       False
3                A   70568.0               27  ...  False       False
6                A   85124.0               38  ...  False        True
7                A   16947.0               46  ...  False       False
...            ...       ...              ...  ...    ...         ...
79609            A   22279.0               28  ...  False       False
79610            A   76514.0               21  ...  False       False
79611            A   24620.0               28  ...  False       False
79612            A   42364.0               23  ...  False       False
79613            A  125802.0               20  ...  False       False

       GOLF 5C  PASSAT V6  TOUAREG  PASSAT E-GOLF  GOLF 4C  ATLAS AWD V6  \
1        False      False    False   False  False    False         False
2        False      False    False   False  False    False         False
3        False      False    False   False  False    False         False
6        False      False    False   False  False    False         False
7        False       True    False    True  False    False         False
...        ...        ...      ...     ...    ...      ...           ...
79609     True      False    False   False   True     True         False
79610    False      False    False   False  False    False         False
79611    False       True    False    True  False    False         False
79612    False      False    False   False  False    False         False
79613    False      False    False   False  False    False         False

       ATLAS FWD V6
1             False
2             False
3             False
6             False
7             False
...             ...
79609         False
79610         False
79611         False
79612         False
79613         False

[61251 rows x 49 columns]

In [17]:
clean_df1.head(50)

,auction_code,car_year,color,make,model,body,engine,transmission,mileage,condition_grade,...,EOS,TIGUAN 4X4,GOLF 5C,PASSAT V6,TOUAREG,PASSAT,E-GOLF,GOLF 4C,ATLAS AWD V6,ATLAS FWD V6
1,AYCA,2009,BLACK,VOLKSWAGEN,TIGUAN AWD,SUV,4GT,A,96696.0,34,...,False,True,False,False,False,False,False,False,False,False
2,AYCA,2009,SILVER,VOLKSWAGEN,ROUTAN,VAN,6G,A,92321.0,31,...,False,False,False,False,False,False,False,False,False,False
3,AYCA,2014,TAN,VOLKSWAGEN,JETTA 4C,4DSN,4GT,A,70568.0,27,...,False,False,False,False,False,False,False,False,False,False
6,NADE,2012,BLACK,VOLKSWAGEN,TIGUAN FWD,SUV,4GT,A,85124.0,38,...,False,True,False,False,False,False,False,False,False,False
7,GOAA,2016,WHITE,VOLKSWAGEN,PASSAT 4C,4DSN,4GT,A,16947.0,46,...,False,False,False,True,False,True,False,False,False,False
8,GOAA,2015,SILVER,VOLKSWAGEN,JETTA,4DSN,4G,A,21789.0,40,...,False,False,False,False,False,False,False,False,False,False
9,GOAA,2016,RED,VOLKSWAGEN,JETTA,4DSN,4GT,A,1966.0,36,...,False,False,False,False,False,False,False,False,False,False
10,GOAA,2016,TAN,VOLKSWAGEN,PASSAT 4C,4DSN,4GT,A,5879.0,49,...,False,False,False,True,False,True,False,False,False,False
11,NADE,2013,RED,VOLKSWAGEN,JETTA 5C,4DSN,5G,5,38000.0,22,...,False,False,False,False,False,False,False,False,False,False
12,NADE,2014,BLUE,VOLKSWAGEN,JETTA 4C,4DSN,4G,A,15903.0,25,...,False,False,False,False,False,False,False,False,False,False
13,NADE,2015,WHITE,VOLKSWAGEN,GOLF,4DHB,4GT,A,15494.0,41,...,False,False,True,False,False,False,True,True,False,False
14,NADE,2015,GRAY,VOLKSWAGEN,JETTA,4DSN,4G,A,20598.0,19,...,False,False,False,False,False,False,False,False,False,False
15,NADE,2014,BROWN,VOLKSWAGEN,JETTA 4C,4DSN,4GT,A,16080.0,27,...,False,False,False,False,False,False,False,False,False,False
16,NADE,2014,WHITE,VOLKSWAGEN,JETTA 4C,4DSN,4GT,A,21804.0,26,...,False,False,False,False,False,False,False,False,False,False
17,NADE,2014,BLUE,VOLKSWAGEN,TIGUAN AWD,SUV,4GT,A,26939.0,39,...,False,True,False,False,False,False,False,False,False,False
18,NADE,2013,WHITE,VOLKSWAGEN,Other,4DSN,5G,A,39141.0,13,...,False,False,False,False,False,False,False,False,False,False
21,BWAE,2010,BLACK,VOLKSWAGEN,Other,4DSN,6G,A,116055.0,24,...,False,False,False,False,False,False,False,False,False,False
24,BWAE,2013,SILVER,VOLKSWAGEN,PASSAT 5C,4DSN,5G,A,19391.0,43,...,False,False,False,True,False,True,False,False,False,False
25,HATA,2002,BLACK,VOLKSWAGEN,PASSAT AWD V6,4DSN,6G,A,96237.0,25,...,False,False,False,True,False,True,False,False,True,True
28,SVAA,2006,BLACK,VOLKSWAGEN,JETTA 4C,4DSN,4GT,A,121369.0,27,...,False,False,False,False,False,False,False,False,False,False
30,RAA,2007,GRAY,VOLKSWAGEN,JETTA 5C,4DSN,5G,A,94397.0,19,...,False,False,False,False,False,False,False,False,False,False
32,PCAA,2013,GRAY,VOLKSWAGEN,BEETLE 4C,2DCV,4GT,A,5278.0,44,...,False,False,False,False,False,False,False,False,False,False
33,RAA,2010,BLACK,VOLKSWAGEN,CC FWD 4C,4DSN,4GT,A,95710.0,36,...,False,False,False,False,False,False,False,False,False,False
34,RAA,2013,WHITE,VOLKSWAGEN,BEETLE 4C,2DCV,4GT,A,58877.0,42,...,False,False,False,False,False,False,False,False,False,False
35,AAAI,2004,BLACK,VOLKSWAGEN,JETTA 4C,4DSN,4G,A,106307.0,25,...,False,False,False,False,False,False,False,False,False,False
37,AREN,2012,BLACK,VOLKSWAGEN,PASSAT 5C,4DSN,5G,A,84988.0,13,...,False,False,False,True,False,True,False,False,False,False
38,AAAI,2014,WHITE,VOLKSWAGEN,JETTA 4C,4DSN,4GT,A,60630.0,26,...,False,False,False,False,False,False,False,False,False,False
39,AAAW,2013,GRAY,VOLKSWAGEN,BEETLE 5C,2DCP,5G,A,79966.0,26,...,False,False,False,False,False,False,False,False,False,False
40,AAAW,2013,BLACK,VOLKSWAGEN,JETTA 5C,4DSN,5G,A,63301.0,27,...,False,False,False,False,False,False,False,False,False,False
41,SLAA,2012,BLACK,VOLKSWAGEN,TIGUAN FWD,SUV,4GT,A,78901.0,39,...,False,True,False,False,False,False,False,False,False,False
43,SKYA,2000,SILVER,VOLKSWAGEN,BEETLE,2DCP,4G,A,79562.0,31,...,False,False,False,False,False,False,False,False,False,False
44,SVAA,2013,BLUE,VOLKSWAGEN,JETTA 4C,4DSN,4G,A,28119.0,28,...,False,False,False,False,False,False,False,False,False,False
45,AAAW,2015,TAN,VOLKSWAGEN,PASSAT 4C,4DSN,4GT,A,26937.0,44,...,False,False,False,True,False,True,False,False,False,False
46,RAA,2007,BLACK,VOLKSWAGEN,JETTA 5C,4DSN,5G,A,71795.0,35,...,False,False,False,False,False,False,False,False,False,False
47,SVAA,2015,BLACK,VOLKSWAGEN,PASSAT 4C,4DSN,4GT,A,48945.0,39,...,False,False,False,True,False,True,False,False,False,False
48,SVAA,2015,GRAY,VOLKSWAGEN,JETTA,4DSN,4G,A,49952.0,37,...,False,False,False,False,False,False,False,False,False,False
49,RAA,2007,SILVER,VOLKSWAGEN,JETTA 5C,4DSN,5G,A,84143.0,16,...,False,False,False,False,False,False,False,False,False,False
50,GOAA,2012,BLACK,VOLKSWAGEN,JETTA 5C,4DSN,5G,A,48902.0,24,...,False,False,False,False,False,False,False,False,False,False
51,DALA,2012,SILVER,VOLKSWAGEN,BEETLE 5C,2DCP,5G,A,50560.0,34,...,False,False,False,False,False,False,False,False,False,False
52,KCAA,2016,BLUE,VOLKSWAGEN,GOLF,4WGN,4GT,A,7544.0,46,...,False,False,True,False,False,False,True,True,False,False
55,AAA,2004,GOLD,VOLKSWAGEN,PASSAT FWD 4C,4DSN,4GT,A,183677.0,23,...,False,False,False,True,False,True,False,False,False,False
60,AAA,2013,SILVER,VOLKSWAGEN,CC FWD 4C,4DSN,4GT,6,77612.0,33,...,False,False,False,False,False,False,False,False,False,False
61,AAA,2003,BLACK,VOLKSWAGEN,BEETLE,2DCV,4G,A,82008.0,31,...,False,False,False,False,False,False,False,False,False,False
62,AAA,2007,RED,VOLKSWAGEN,JETTA 5C,4DSN,5G,A,114273.0,27,...,False,False,False,False,False,False,False,False,False,False
64,AAA,2006,GREY,VOLKSWAGEN,Other,SUV,6G,A,139839.0,37,...,False,False,False,False,False,False,False,False,False,False
65,AAA,2008,RED,VOLKSWAGEN,JETTA 4C,4DSN,4GT,A,184428.0,21,...,False,False,False,False,False,False,False,False,False,False
68,AAA,2009,WHITE,VOLKSWAGEN,RABBIT,2DCP,5G,A,134492.0,29,...,False,False,False,False,False,False,False,False,False,False
69,AAA,2008,SILVER,VOLKSWAGEN,EOS 4C,2DCV,4GT,A,109948.0,29,...,True,False,False,False,False,False,False,True,False,False
70,THAA,2009,BLACK,VOLKSWAGEN,JETTA 5C,4DSN,5G,A,61755.0,36,...,False,False,False,False,False,False,False,False,False,False
71,SVAA,2011,BEIGE,VOLKSWAGEN,JETTA 5C,4DSN,5G,A,78844.0,26,...,False,False,False,False,False,False,False,False,False,False

In [15]:
print(clean_df1['model'].unique())

['TIGUAN AWD' 'ROUTAN' 'JETTA 4C' 'TIGUAN FWD' 'PASSAT 4C' 'JETTA'
 'JETTA 5C' 'GOLF' 'Other' 'PASSAT 5C' 'PASSAT AWD V6' 'BEETLE 4C'
 'CC FWD 4C' 'BEETLE 5C' 'BEETLE' 'PASSAT FWD 4C' 'RABBIT' 'EOS 4C' 'GTI'
 'TOUAREG 4X4 V6' 'GOLF GTI' 'PASSAT FWD V6' 'GLI' 'EOS' 'TIGUAN 4X4'
 'GOLF 5C' 'PASSAT V6' 'TOUAREG' 'PASSAT' 'E-GOLF' 'GOLF 4C'
 'ATLAS AWD V6' 'ATLAS FWD V6']

In [38]:
print(clean_df1['model'].unique())

['TIGUAN AWD' 'ROUTAN' 'JETTA 4C' 'TIGUAN FWD' 'PASSAT 4C' 'JETTA'
 'JETTA 5C' 'GOLF' 'JETTA 2.5L SE' 'CC AWD V6' 'PASSAT 5C' 'PASSAT AWD V6'
 'BEETLE 4C' 'CC FWD 4C' 'BEETLE 5C' 'BEETLE' 'PASSAT FWD 4C' 'TOUAREG V6'
 'RABBIT' 'EOS 4C' 'GTI' 'EOS V6' 'TOUAREG 4X4 V6' 'GOLF GTI' 'GTI 4C'
 'PASSAT FWD V6' 'GLI' 'EOS' 'TOUAREG V8' 'TIGUAN 4X4' 'GOLF 5C'
 'PASSAT V6' 'TOUAREG' 'CC FWD V6' 'TOUAREG AWD V6' 'TIGUAN 2.0T S'
 'TIGUAN 2.0T SEL' 'GTI V6' 'TOUAREG 2 V6' 'JETTA V6' 'PASSAT' 'CABRIO'
 'PASSAT AWD' 'EUROVAN' 'PASSAT AWD 4C' 'PASSAT FWD' 'E-GOLF'
 'TOUAREG V10' 'PASSAT AWD V8' 'GOLF GLS' 'GOLF CITY' 'TIGUAN' 'GOLF 4C'
 'SCIROCCO' 'JETTA CITY' 'TIGUAN SE' 'GOLF FWD' 'PHAETON V8' 'JETTA TSI'
 'CC 4X4 V6' 'GOLF ALLTRACK' 'ATLAS AWD V6' 'JETTA SEDAN' 'GOLF AWD'
 'ATLAS FWD V6' 'PASSAT 1.8T' 'ATLAS FWD 4C' 'BEET TREND'
 'GOLF SPTWGN FWD' 'TIGUAN S' 'TIGUAN LTD AWD' 'EUROVAN CAMPER'
 'TIGUAN LTD FWD' 'CC 2.0T SE F' 'CC' 'PHAETON V12' 'CC SPT +'
 'GOLF SPTWGN AWD' '4C' 'GOLF R']

In [14]:
color_cnt = clean_df1[car_cat]["color"].value_counts()

In [15]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
color_types_to_replace = list(color_cnt[color_cnt < 10].index)

# Replace in dataframe
for color in color_types_to_replace:
    clean_df1['color'] = clean_df1['color'].replace(color,"Other")

# Check to make sure binning was successful
clean_df1['color'].value_counts()

BLACK       15488
WHITE       11948
GRAY         9333
SILVER       8878
BLUE         6620
RED          3620
GREY         1657
BROWN        1024
TAN           642
GOLD          541
MAROON        465
GREEN         331
YELLOW        259
Other         185
ORANGE         47
PURPLE         35
BLACK EX       28
OFFWHITE       27
COPPER         26
PLATINUM       22
CANDY WH       20
TEAL           16
PURE WHI       15
REFLEX S       13
BEIGE          11
Name: color, dtype: int64

In [22]:
# for each unique value in Description

df_list = []
for d in clean_df1.color.unique():
    clean_df1['color'] = clean_df1['color'].apply(str)
    # compute Levensthein distance
    # and set to True if >= a 40
    # (you may have to play around with it)
    clean_df1[d] = clean_df1['color'].apply(
        lambda x : fuzz.ratio(x, d) >= 30
    )
    # set a name for the group
    # here, simply the shortest
    m = np.min(clean_df1[clean_df1[d]==True].color)
    # assign the group
    clean_df1.loc[clean_df1.color==d, 'color_group'] = m
    df_list.append(clean_df1[clean_df1['color_group']]

clean_df1 = pd.concat(df_list)                   
                   
print(clean_df1)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1577255707.py, line 17)

In [17]:
print(clean_df1['color'].unique())

['BLACK' 'SILVER' 'TAN' 'WHITE' 'RED' 'BLUE' 'GRAY' 'BROWN' 'GOLD' 'GREY'
 'BEIGE' 'YELLOW' 'MAROON' 'GREEN' 'Other' 'REFLEX S' 'CANDY WH' 'COPPER'
 'TEAL' 'BLACK EX' 'PURPLE' 'PURE WHI' 'ORANGE' 'PLATINUM' 'OFFWHITE']

In [18]:
def binning_function(col, cut_points, labels=None):
    minvalue = col.min()
    maxvalue = col.max()
    break_points = [minvalue] + cut_points + [maxvalue]
    print(break_points)
    if not labels:
        labels = range(len(cut_points) + 1)
    col_bin = pd.cut(col, bins=break_points, labels=labels, include_lowest=True)
    return col_bin

In [19]:
cut_points = [25000, 50000, 75000, 100000]
labels = ['< 25k', '25k - 50k', '50k - 75k', '75k - 100k', '> 100k']
clean_df1['vehicle_mileage_category'] = binning_function(clean_df1['mileage'], cut_points, labels)
clean_df1

[0.0, 25000, 50000, 75000, 100000, 999999.0]

,auction_code,car_year,color,make,model,body,engine,transmission,mileage,condition_grade,...,CANDY WH,COPPER,TEAL,BLACK EX,PURPLE,PURE WHI,ORANGE,PLATINUM,OFFWHITE,vehicle_mileage_category
1,AYCA,2009,BLACK,VOLKSWAGEN,TIGUAN AWD,SUV,4GT,A,96696.0,34,...,False,False,False,True,False,False,False,True,False,75k - 100k
2,AYCA,2009,SILVER,VOLKSWAGEN,ROUTAN,VAN,6G,A,92321.0,31,...,False,True,False,False,True,False,False,False,False,75k - 100k
3,AYCA,2014,TAN,VOLKSWAGEN,JETTA 4C,4DSN,4GT,A,70568.0,27,...,True,False,True,False,False,False,True,True,False,50k - 75k
6,NADE,2012,BLACK,VOLKSWAGEN,TIGUAN FWD,SUV,4GT,A,85124.0,38,...,False,False,False,True,False,False,False,True,False,75k - 100k
7,GOAA,2016,WHITE,VOLKSWAGEN,PASSAT 4C,4DSN,4GT,A,16947.0,46,...,True,False,True,False,False,True,False,False,True,< 25k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79609,MAA,2017,RED,VOLKSWAGEN,GOLF,4DHB,4GT,A,22279.0,28,...,False,False,False,False,True,True,True,False,False,< 25k
79610,MAA,2015,WHITE,VOLKSWAGEN,JETTA,4DSN,4GT,A,76514.0,21,...,True,False,True,False,False,True,False,False,True,75k - 100k
79611,MAA,2017,BLACK,VOLKSWAGEN,PASSAT 4C,4DSN,4GT,A,24620.0,28,...,False,False,False,True,False,False,False,True,False,< 25k
79612,MAA,2017,GREY,VOLKSWAGEN,JETTA,4DSN,4GT,A,42364.0,23,...,False,False,False,False,True,True,True,False,False,25k - 50k
79613,SLAA,2011,BLUE,VOLKSWAGEN,JETTA 5C,4DSN,5G,A,125802.0,20,...,False,False,False,True,True,True,False,True,False,> 100k

In [20]:
for row in clean_df1['model']:
    if row['model'] == clean_df1['group']['True']:
        row['model'] = clean_df1['group']

TypeError: string indices must be integers

In [40]:
clean_df1.drop(clean_df1.iloc[:, 8:9], inplace = True, axis = 1)

In [42]:
clean_df1.head()

,auction_code,car_year,color,make,model,body,engine,transmission,PLATINUM,OFFWHITE,vehicle_mileage_category
1,AYCA,2009,BLACK,VOLKSWAGEN,TIGUAN AWD,SUV,4GT,A,True,False,75k - 100k
2,AYCA,2009,SILVER,VOLKSWAGEN,ROUTAN,VAN,6G,A,False,False,75k - 100k
3,AYCA,2014,TAN,VOLKSWAGEN,JETTA 4C,4DSN,4GT,A,True,False,50k - 75k
6,NADE,2012,BLACK,VOLKSWAGEN,TIGUAN FWD,SUV,4GT,A,True,False,75k - 100k
7,GOAA,2016,WHITE,VOLKSWAGEN,PASSAT 4C,4DSN,4GT,A,False,True,< 25k

In [19]:
clean_df1['sale_price'].max()
clean_df1['sale_price'].min()

100.0

In [20]:
df1_dummies = pd.get_dummies(clean_df1)
# df2_dummies = pd.get_dummies(clean_df2)
# df3_dummies = pd.get_dummies(clean_df3)
# df4_dummies = pd.get_dummies(clean_df4)
# df5_dummies = pd.get_dummies(clean_df5)
# df6_dummies = pd.get_dummies(no_dups_df6)
# df7_dummies = pd.get_dummies(clean_df7)

In [21]:
# Drop the label to create the X data
X_1 = df1_dummies.drop('sale_price', axis=1)
# X_2 = df2_dummies.drop('sale_price', axis=1)
# X_3 = df3_dummies.drop('sale_price', axis=1)
# X_4 = df4_dummies.drop('sale_price', axis=1)
# X_5 = df5_dummies.drop('sale_price', axis=1)
# X_6 = df6_dummies.drop('sale_price', axis=1)
# X_7 = df7_dummies.drop('sale_price', axis=1)

In [22]:
y_1 = df1_dummies["sale_price"]
# y_2 = df2_dummies["sale_price"]
# y_3 = df3_dummies["sale_price"]
# y_4 = df4_dummies["sale_price"]
# y_5 = df5_dummies["sale_price"]
# y_6 = df6_dummies["sale_price"]
# y_7 = df7_dummies["sale_price"]

In [23]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X_1, y_1, random_state=1)
# X_train2, X_test2, y_train2, y_test2 = train_test_split(X_2, y_2, random_state=1)
# X_train3, X_test3, y_train3, y_test3 = train_test_split(X_3, y_3, random_state=1)
# X_train4, X_test4, y_train4, y_test4 = train_test_split(X_4, y_4, random_state=1)
# X_train5, X_test5, y_train5, y_test5 = train_test_split(X_5, y_5, random_state=1)
# X_train6, X_test6, y_train6, y_test6 = train_test_split(X_6, y_6, random_state=1)
# X_train7, X_test7, y_train7, y_test7 = train_test_split(X_7, y_7, random_state=1)

In [24]:
# Scaling the X data by using StandardScaler()
scaler = StandardScaler().fit(X_train1)
X_train_scaled1 = scaler.transform(X_train1)
X_test_scaled1 = scaler.transform(X_test1)
X_train_scaled1
X_test_scaled1

array([[-0.0118261 , -0.66807612, -0.05064064, ..., -0.39366942,
        -0.36152184, -0.43964507],
       [ 1.18810175, -1.12559311,  0.79935425, ..., -0.39366942,
        -0.36152184, -0.43964507],
       [ 0.88811979,  0.6238971 , -2.38812658, ..., -0.39366942,
         2.76608462, -0.43964507],
       ...,
       [ 0.28815586,  0.54582106,  0.3743568 , ..., -0.39366942,
         2.76608462, -0.43964507],
       [-0.0118261 , -0.54801685,  1.22435169, ..., -0.39366942,
        -0.36152184, -0.43964507],
       [ 0.88811979, -0.64608382, -0.26313936, ..., -0.39366942,
        -0.36152184, -0.43964507]])

In [25]:
# Passing through lasso regression
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet

# Fit a LASSO regression to the data - train the model
# reg = Lasso().fit(X_train_scaled1, y_train1)
reg1 = Ridge().fit(X_train_scaled1, y_train1)

In [26]:
r2 = reg1.score(X_test_scaled1, y_test1)
print(r2)
from sklearn.metrics import mean_squared_error
y_predict = reg1.predict(X_test_scaled1)
print(y_predict)
mean_squared_error(y_test1, y_predict)

0.8558327212483117
[ 9931.47544165 13057.74160676  4059.67503376 ...  7109.47151058
  9832.3647695   9044.05056758]

3659706.280790022

In [39]:
import pickle


model = pickle.dumps(reg1)

reg_from_pickle = pickle.loads(model)

reg_from_pickle.predict(X_test_scaled1)

array([ 9931.47544165, 13057.74160676,  4059.67503376, ...,
        7109.47151058,  9832.3647695 ,  9044.05056758])